{% load static %}

<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<title>SIGN UP</title>
		<link rel="stylesheet" type="text/css" href="{% static '/css/adminSignup.css' %}">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">	

		<script>
			
			function InvalidMsg(email) {
				if (email.value === '') {
					email.setCustomValidity('Required email address');
				} 
				else if (email.validity.typeMismatch){
					email.setCustomValidity('please enter a valid email address');
				} 
				else {
					email.setCustomValidity('');
				}
				
				return true;
			}

			function InvalidMsgPass(password) {
				if(password.value === '') {
					password.setCustomValidity('Required password');
				} 
				else if(password.value < 6) {
					password.setCustomValidity('Password must be atleast 6 characters');
				} 
				else {
				password.setCustomValidity('');
				}
			
				return true;
			}

		</script>

	</head>

	<body>

		<div class="center">

			<h1>Sign Up</h1>
			
			<form action="/user/postsignUp/" method="post" >
			
				{% csrf_token %}
	
				<div class="row">
	
					<div class="column">
						
						<!--Name: -->
						<div class="txt_field">
							<input type="name" id="Username" name="name" placeholder="Name" oninvalid = "this.setCustomValidity('Please enter username')" onchange = "this.setCustomValidity('')" required >
							<span></span>
						</div>
	
						<!-- Email: -->
						<div class="txt_field">
							<input type="email" id="Email" name="email" placeholder="Email Id" oninvalid= "InvalidMsg(this);" oninput = "InvalidMsg(this);" required = "required"/>
							<span></span>
						</div>
	
						<!--Centre: -->
						<div class="txt_field">
							<input type="centre" id="Centre" name="centre" placeholder="Centre" required>
							<span></span>   
						</div>
	
						<!--Staff: -->
						<div class="txt_field">
							<input type="staff" id="Staff" name="staff" placeholder="Staff" required>
							<span></span>
						</div>
	
						<!--Designation: -->
						<div class="txt_field">
							<input type="designation" id="designation" name="designation" placeholder="Designation" required>
							<span></span>
						</div>
					
					</div>
					
					<div class="column">
						
						<!--Department: -->
						<div class="txt_field">
							<input type="department" id="Department" name="department" placeholder="Department" required>
							<span></span>
						</div>
	
						<!--Employment Type: -->
						<div class="txt_field">
							<input type="employment_type" id="Employment Type" name="employment_type" placeholder="Employment Type" required>
							<span></span>
						</div>
	
						<!--Level: -->
						<div class="txt_field">
							<input type="level" id="Level" name="level" placeholder="Level" required>
							<span></span>
						</div>
	
						<!-- Password: -->
						<div class="txt_field">
							<input type="password" id="Password" name="password" placeholder="Password" oninvalid="InvalidMsgPass(this);" oninput = "InvalidMsgPass(this);" required>
							<span></span>
						</div>
	
						<!-- RepeatPassword: -->
						<div class="txt_field">
							<input type="password" id="confirm_password" name="pass-repeat" placeholder="Repeat Password" oninvalid="InvalidMsgPass(this);" oninput = "InvalidMsgPass(this);" required>
							<span></span>
						</div>
	
					</div>
	
				</div>
	
				<input type="submit" value="SignUp"><br><br>
	
				<div class="signUp_Link">
					Already a member?
					<a href="/user/signIn/">Log In</a>
				</div>
	
				<br>
	
			</form>
	
		</div>
		
	</body>

</html>