{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WELCOME</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/Com.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>	   
<body>
  <div class="container">
    <div class="center">
      <form method="POST" action="/upload/" class="post-form" enctype="multipart/form-data">  
        {% csrf_token %}  
        {{ form.as_p }} 
        <button class="btn" type="submit" class="save btn btn-default">
          <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span>BROWSE</span>
        </button>
      </form>
    </div>
  </div>
</body>
</html>