{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
        </div>
    {% endfor %}
{% endif %}

<title>FILE DETAILS</title>
		
<div class="content">
    
    <div class="container1">	

    <div class="profile-header">
		<h1>FILES DETAILS</h1>
	</div>
     
    <div class="profile-card">         
  
        <div class="helper">
            <label>FILENAME:</label><br>
            <label>FILE TYPE:</label><br>
            <label>FILE SIZE:</label><br>
            <label>NEW FILE SIZE:</label><br>
            <label>COMPRESSION %:</label><br>
            <label>TIME:</label><br>
        </div>

        <div class="helper">
            <label >{{filename}}</label><br>
            <label>{{file_type}}</label><br>
            <label>{{file_size}}</label><br>
            <label>{{new_file_size}}</label><br> 
            <label>{{comp_per}}%</label><br> 
            <label>{{dat}}</label><br>
        </div>

    </div>

    <div class="profile-card">

        <div>
            <button class="button-container" onclick= "location.href = '/orgDownload/?z={{comp_id}}'"  id="button">Download Original File</button>
        </div>

        <div>
            <button class="button-container" onclick="location.href = '/compDownload/?z={{comp_id}}'" id="button">Download Compressed File</button>
        </div>

    </div>

</div>

{% endblock %}