{% extends 'UserMaster.html' %}
<title>PDF Compression</title>
{% block mymessage %}

<div class="content">

    <div class="header-card">
		<h1>PDF COMPRESSION</h1>
        <p style="font-size:1.5em"> Reduce the file size while optimizing for maximal PDF quality</p>
        <br>
	</div>

    <div class="cards">
        
        <div class="container">

            <form method="post" action="/imageCompression/pdfCompression/" enctype="multipart/form-data" class="dropzone">  
                {% csrf_token %}  
                {{ form.as_p }} 
                <div style="display: flex,align-items: center;">
                <button type="submit" class="save btn btn-default">Save</button>  
                </div>
            </form>

        </div>

    </div>
    
</div>

{% endblock %}

