{% extends 'UserMaster.html' %}
<title>PDF Compression</title>
{% block mymessage %}

<div class="content">

    <div class="header-card">
		<h1>Compress PDF files</h1>
        <p> Reduce file size while optimizing for maximal PDF quality.</p>
        <br>
	</div>

    <div class="cards">
        
        <div class="container2">

            <form class="dropzone" method="post" action="/imageCompression/pdfCompression/" enctype="multipart/form-data">  
                
                {% csrf_token %}  
                {{ form.as_p }} 
                
                <div>
                    <h3>or drop file here</h3>
                    <button type="submit" class="save btn btn-default" >Save</button>  
                </div>

            </form>

        </div>

    </div>
    
</div>

{% endblock %}

