{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}
<script>
    function myclick(){
        alert("File Downloaded successfully")
    }
</script>

<title>FILE DETAILS</title>
		
<div class="content">
    <div class="contain123">	

    <div class="header-card">
		<h1 style="margin-right:350px; color:black;">FILES DETAILS</h1>
	</div>
     
    <div class="cards">         
  
        <div class="helper">
            <label> FILENAME:</label><br>
            <label> FILE TYPE:</label><br>
            <label> FILE SIZE:</label><br>
            <label> NEW FILE SIZE:</label><br>
            <label> TIME:</label><br>
        </div>

        <div class="helper">
            <label>{{filename}}</label><br>
            <label>{{file_type}}</label><br>
            <label>{{file_size}}</label><br>
            <label>{{new_file_size}}</label><br>  
            <label>{{dat}}</label><br>
        </div>

    </div>

    <div class="cards">

        <div >
            <button style="width:130px; height:45px;margin-left:90px;font-size:10pt;" class="button-container" onclick= "location.href = '/orgDownload/?z={{comp_id}}'"  id="button">DOWNLOAD ORIGINAL FILE</button>
        </div>

        <div >
            <button style=" width:130px; height:45px;margin-left:30px; font-size:10pt;" class="button-container" onclick="location.href = '/compDownload/?z={{comp_id}}'" id="button">DOWNLOAD COMPRESSED FILE</button>
        </div>

    </div>
</div>
</div>


{% endblock %}