{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

<title>HOME</title>

<div class="content">

    <div class="home-cards">

        <div class="card1">
                
            <div class="card2">
                <h1>Compress files </h1>
            </div>

            <div class="card2" >

                <button class="card3" onclick="location.href = '/imageCompression/'">
                    <img src={% static "COMPRESS.png" %}/><b>Compress Image </b>
                </button>

                <button class="card3" onclick="location.href = '/imageCompression/compressPPT/'">
                    <img src={% static "PPT.png" %}/><b>Compress PPT </b>
                </button>

                <button class="card3" onclick="location.href = '/imageCompression/compressWord'">
                    <img src={% static "WORD.png" %}/><b>Compress WORD </b>
                </button>

                <button class="card3" onclick="location.href = '/imageCompression/compressPDF/'">
                    <img src={% static "PDF.png" %}/><b>Compress PDF </b>
                </button>

            </div>
            
        </div>

        <div class="card1">

            <div class="card2">
                <h1>Convert files </h1>
            </div>

            <div class="card2">

                <button class="card3" onclick="location.href = '/PDFtoJPG/'">
                    <img src={% static "PDFtoJPG.png" %}/><b>PDF to IMAGE </b>
                </button>

                <button class="card3" onclick="location.href = '/PDFtoJPG/JPGtoPDF/'">
                    <img src={% static "JPGtoPDF.png" %}/><b>IMAGE to PDF </b>
                </button>

                <button class="card3" onclick="location.href = '/PDFtoJPG/PDFtoWord/'">
                    <img src={% static "PDFtoWORD.png" %}/><b>PDF to Word </b>
                </button>

                <button class="card3" onclick="location.href = '/PDFtoJPG/textToPDF'">
                    <img src={% static "TEXTtoPDF.png" %}/><b>Text to PDF </b>
                </button>

            </div>

            <div class="card2">

                <button class="card3" onclick="location.href = '/PDFtoJPG/WordToPDF/'">
                    <img src={% static "WORDtoPDF.png" %}/><b>Word to PDF</b> 
                </button>                
            
                <button class="card3" onclick="location.href = '/PDFtoJPG/PDFtoExcel/'">
                    <img src={% static "PDFtoEXCEL.png" %}/><b>PDF to Excel </b>
                </button>
            
                <button class="card3" onclick="location.href = '/PDFtoJPG/ExcelToPDF/'">
                    <img src={% static "EXCELtoPDF.png" %}/><b>Excel to PDF </b>
                </button>
            
                <button class="card3" onclick="location.href = '/PDFtoJPG/PDFtoText'">
                    <img src={% static "PDFtoTEXT.png" %}/><b>PDF to Text </b>
                </button>
                
            </div>

        </div>

    </div>

</div>

{% endblock %}

