{% extends 'UserMaster.html' %}  
{% block mymessage %}

{% if message %}
<script>
    alert('{{ message }}');
</script>
{% endif %}

<div class="content">

    <div class="header-card">
		<h1>IMAGE COMPRESSION</h1>
        <p style="font-size:1.5em">Reduce the file size of your images with online image compression. Compress
            image files quickly without software installation.</p>
        <br>
	</div>

    <div class="cards">
        
        <div class="container">

            <form class="dropzone" method="post" action="/imageCompression/compressImage/" enctype="multipart/form-data">  
                {% csrf_token %}  
                {{ form.as_p }} 
                <div style="display: flex,align-items: center;">
                <button type="submit" class="save btn btn-default">Save</button>  
                </div>
            </form>

        </div>

    </div>

</div>

{% endblock %}