{% load static %}

<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
	    <title>LOGIN</title>
		<script src="https://kit.fontawesome.com/919388b1b0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    </head>	 

	<script type="text/javascript">
		
	</script>
  
	<body>
		
		<div class="center">

			<h1>Log In</h1>
			
			<form action="/postsignIn/" method="post">
				
				<div id='captcha'></div>
				
				{% csrf_token %}
		
				<!-- Email: -->
				<div class="txt_field">
					<input type="email" id="Email" name="email" placeholder="Email" required>
					<span></span>    	            
				</div>

				<!-- Password: -->
				<div class="txt_field">
					<input type="password" id="Password" name="password" placeholder="Password" required>
					<span></span>          
				</div>

				<div class="wrapper"> 
                
					<div class="captcha-area">
						
						<div class="captcha-img">
							<img src= {% static "captchaImage.png" %} alt="Captch Background">
							<span class="captcha"></span>
						</div>

						<button class="reload-btn"><i class="fa-solid fa-arrows-rotate"></i></button> 
				
					</div> 
				
					<div action="#" class="input-area"> 
					
						<input type="text" placeholder="Enter captcha" maxlength="6" spellcheck="false" required>
						<button class="check-btn" >Check</button>
					
					</div>
					
					<div class="status-text"></div>
			
				</div> 
				<br><br>	
				<div class="pass">
					<a href="/forgot/">Forgot Password?</a>
				</div>

				<input type="submit" value="LogIn" ><br></br>
			
				<div class="signUp_Link">
					Not a member?
					<a href="/signUp/">Sign Up</a>
				</div>
				<br>

			</form>

			<script>
				
				let captcha = document.querySelector(".captcha"),
				reloadBtn = document.querySelector(".reload-btn"),
				inputField = document.querySelector(".input-area input"),
				checkBtn = document.querySelector(".check-btn"),
				statusTxt = document.querySelector(".status-text");
				
				//storing all captcha characters in array
				let allCharacters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O',
									'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd',
									'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's',
									't', 'u', 'v', 'w', 'x', 'y', 'z', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9];
				
				function getCaptcha(){
					for (let i = 0; i < 6; i++) { //getting 6 random characters from the array
						let randomCharacter = allCharacters[Math.floor(Math.random() * allCharacters.length)];
						captcha.innerText += ` ${randomCharacter}`; //passing 6 random characters inside captcha innerText
					}
				}
	
				getCaptcha(); //calling getCaptcha when the page open
				
				//calling getCaptcha & removeContent on the reload btn click
				reloadBtn.addEventListener("click", ()=>{
					removeContent();
					getCaptcha();
				});
				
				checkBtn.addEventListener("click", e =>{
					console.log("--->",checkBtn.value);
					e.preventDefault(); //preventing button from it's default behaviour
					statusTxt.style.display = "block";
					//adding space after each character of user entered values because I've added spaces while generating captcha
					let inputVal = inputField.value.split('').join(' ');

					if(inputVal == captcha.innerText){ //if captcha matched
						alert("Captcha Matched!");
						setTimeout(()=>{ //calling removeContent & getCaptcha after 2 seconds
							removeContent();
							getCaptcha();
						}, 9000);
					}else{
						alert("Invalid Captcha");
					}
				});
						
				function removeContent(){
					inputField.value = "";
					captcha.innerText = "";
					statusTxt.style.display = "none";
				}
									
		   
			</script>
			
		</div>

	</body>

</html>
