{% extends 'MasterHome.html' %}  
{% block mymessage %}

<div>
    <section>
        <article>

            <h1 style="font-size:2em">PDF to TEXT</h1>
            <p style="font-size:1.5em"> extracting text data from PDF-encapsulated files.</p>
            
            <div class="container">
                <form method="post" action="/PDFtoJPG/pdf2text/" enctype="multipart/form-data">  
                    {% csrf_token %}  
                    {{ form.as_p }} 
                    <button type="submit" class="save btn btn-default">Save</button>  
                </form>
            </div>
            
        </article>
    </section>
</div>

{% endblock %}