{% extends 'MasterHome.html' %}  
{% block mymessage %}
<div>
    <section>
        <article>
            <h1 style="font-size:2em">PDF to WORD</h1>
            <p style="font-size:1.5em">Easily convert your PDF files into easy to edit DOC and DOCX documents.The converted WORD document is almost 100% accurate</p>
            <div class="container">
                <form method="post" action="/PDFtoJPG/pdf2word/" enctype="multipart/form-data">  
                {% csrf_token %}  
                {{ form.as_p }} 
                <button type="submit" class="save btn btn-default">Save</button>  
            </form>
        </div>
            {% comment %} <div class="container">
                <!-- <button class="btn upload">Upload file</button> -->
                <input class="btn " type="file">
            </div> {% endcomment %}
        </article>
    </section>
</div>
{% endblock %}

	
