{% extends 'UserMaster.html' %}  
{% block mymessage %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        var fileInput = $('#id_file');
        var functionValue = $('#function').val();
    
        // Update accept attribute based on the selected function
            fileInput.attr('accept', '.pdf');
    });
</script>

<div class="content">

    <div class="header-card">
		<h1>PDF to WORD Converter</h1>
        <p>Convert your PDF to WORD documents with incredible accuracy</p>
        <br>
	</div>

    <div class="cards">
        
        <div class="container2">

            <form class="dropzone" method="post" action="/PDFtoJPG/pdf2word/" enctype="multipart/form-data">  
                
                {% csrf_token %}  
                {{ form.as_p }} 
                <input type="hidden" id="function" value="{{ function }}">
                
                <div>
                    <h3>or drop file here</h3>
                    <button type="submit" class="save btn btn-default" >Save</button>  
                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}

	
