{% extends 'UserMaster.html' %}  
{% block mymessage %}


<div class="content">

    <div class="header-card">
		<h1 style="color:BLACK;margin-left:25px;">PDF to Image Converter</h1>
        <p style="font-size:1.2em;color:#454545; margin-left:85px; margin-top:20px;">Convert each PDF page into a JPG or extract all images contained in a PDF</p>
        <br>
	</div>

    <div class="cards">
        
        <div class="container">

            <form class="dropzone" method="post" action="/PDFtoJPG/pdf2jpg/" enctype="multipart/form-data">  
                {% csrf_token %}  
                {{ form.as_p }} 
                <div style="display: flex,align-items: center;">
                    <h3 style = "margin-top:10px"> &nbsp;  &nbsp;  &nbsp; &nbsp; or drop file here</h3>
                <button type="submit" class="save btn btn-default" style="width:90px; border-radius:5px; border:none">Save</button>  
                </div>
            </form>

        </div>

    </div>

</div>

{% endblock %}