{% extends 'MasterHome.html' %}  
{% block mymessage %}
<div>
    <section>
        <article>
            <h1 style="font-size:2em">PDF to EXCEL</h1>
            <p style="font-size:1.5em">Pull data straight from PDF into Excel spreadsheets into a few short seconds.</p>
            <div class="container">
                <form method="post" action="/PDFtoJPG/pdf2excel/" enctype="multipart/form-data">  
                {% csrf_token %}  
                {{ form.as_p }} 
                <button type="submit" class="save btn btn-default">Save</button>  
            </form>
        </div>
            {% comment %} <div class="container">
                <!-- <button class="btn upload">Upload file</button> -->
                <input class="btn" type="file">
            </div> {% endcomment %}
        </article>
    </section>
</div>
{% endblock %}