{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

{% if message %}
<script>
    {% comment %} alert({{ message }}); {% endcomment %}
    alert(Mail Sent)
</script>
{% endif %}
<head>
    <meta charset="UTF-8">
    <title>Reset Passowrd</title>
    <script src="https://kit.fontawesome.com/919388b1b0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

</head>	 


<script type="text/javascript">
		
</script>

<body>

    <div class="center">
        

        <h1>Reset Password?</h1>
        <font size="2.9"> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter your registered email for sending the message.</font>
    

        <form action="/postReset/" method="POST">
            {% csrf_token %}

            <div class= "txt_field" style="margin:15px 15px ">
                <input type="email" id="Email" name="email" placeholder="Email" required>
					<span></span>  
            </div>
            <div class = "button-container" style="margin-top:30px">
                <input type="submit" value="Send Reset Link" onclick="alert('Mail is sent!')">
            </div>
				
				

			</form>
        </div>

	</body>

{% comment %} <title>PROFILE</title>

<div class="content">

    <div class="header-card">
		<h1>RESET PASSWORD</h1>
	</div>
    
    <div class="cards"> 
            

        <form action="/postReset/" method="POST">
            {% csrf_token %}

            <div class= "emailreset" style="margin:15px 15px ">
                <input type="email" name="email" id="email"  size="30" style="height:35px" "width:30px" value="{{email}}" placeholder=" " required readonly><br><br>
            </div>
            <div class = "button-container" style="margin-top:30px">
                <input type="submit" value="Send Reset Link">
            </div>
        

        </form>

    </div>


</div> {% endcomment %}
    
{% endblock %} 