{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message | safe }}
        </div>
    {% endfor %}
{% endif %}

<title>RESET PASSWORD</title>

<head>
    <meta charset="UTF-8">
    <title>Reset Passowrd</title>
    <script src="https://kit.fontawesome.com/919388b1b0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudfare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    {% comment %} <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
</head>	 

<script type="text/javascript">
</script>

<div class="content">

    <div class="container1">

    <div class="profile-header">
        <h1>Reset Password?</h1>
    </div>
    
    <form action="/postReset/" method="POST">
        
        {% csrf_token %}
        
        <div class="profile-card">

            <div class= "helper">
                
                <label>Enter your registered email for sending the message.</label>
                <input type="email" id="Email" name="email" placeholder="Email" required>
                <span></span>

            </div>

        </div>
        
        <div class="profile-card">
            <input class = "button-container" type="submit" value="Send Reset Link">
        </div>					
	
    </form>

</div>
    
{% endblock %} 