{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

{% if message %}
<script>
    alert({{ message }});
</script>
{% endif %}

<title>PROFILE</title>

<div class="content">

    <div class="header-card">
		<h1>RESET PASSWORD</h1>
	</div>
    
    <div class="cards"> 
            

        <form action="/postReset/" method="POST">
            {% csrf_token %}

            <div class= "emailreset" style="margin:15px 15px ">
                <input type="email" name="email" id="email"  size="30" style="height:35px" "width:30px" value="{{email}}" placeholder=" " required readonly><br><br>
            </div>
            <div class = "button-container" style="margin-top:30px">
                <input type="submit" value="Send Reset Link">
            </div>
        

        </form>

    </div>


</div>
    
{% endblock %} 