{% extends 'UserMaster.html' %}  
{% block mymessage %}

<div class="content">

    <div class="header-card">
		<h1>TEXT to PDF</h1>
        <p style="font-size:1.5em">You can easily change your Text files to PDF with this online tool - just in a few seconds and completely free.</p>
        <br>
	</div>

    <div class="cards">
        
        <div class="container">

            <form class="dropzone" method="post" action="/PDFtoJPG/text2pdf/" enctype="multipart/form-data">  
                {% csrf_token %}  
                {{ form.as_p }} 
                <div style="display: flex,align-items: center;">
                <button type="submit" class="save btn btn-default">Save</button>  
                </div>
            </form>

        </div>

    </div>

</div>

{% endblock %}