{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

<title>PROFILE</title>

<div class="content">

    <div class="header-card">
		<h1>USER PROFILE</h1>
	</div>

    <div class="cards">  

   
      <div class="row my-1 p-3">
        <div class="col-sm-2 p-3">Salutation:</div>
        <div class="col-sm-3 my-2 border border-secondary"> </div>
        <div class="col-sm-2  p-3">First Name:</div>
        <div class="col-sm-4 my-1 border border-secondary"></div>
        <div class="col-sm-2 p-3"> Middle Name:</div>
        <div class="col-sm-3 my-2 p-3 border border-secondary"> </div>
        <div class="col-sm-2 p-3"> Last Name:</div>
        <div class="col-sm-4 my-2 p-3 border border-secondary"> </div>
        <div class="col-sm-2 p-3"> Email:</div>
        <div class="col-sm-3 my-2 p-3 border border-secondary"></div>
        <div class="col-sm-2 p-3"> Employment Type:</div>
        <div class="col-sm-4 my-2 p-3 border border-secondary"> </div>
        <div class="col-sm-2 p-3"> Designation:</div>
        <div class="col-sm-3 my-2 p-3 border border-secondary"></div>
        <div class="col-sm-2 p-3"> Department:</div>
        <div class="col-sm-4 my-2 p-3 border border-secondary"></div>
        </div>
        <div class=" p-5">
            <button type="button"  style="margin-left: 880px;margin-top: 20px; background-color:#fc075f;">Update</button>
        </div>
    


</div>
    
{% endblock %} 