{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

<title>PROFILE</title>

<div class="content">
    
  <div class="container1" >

    <div class="profile-header">
      <h1>UPDATE PROFILE</h1>
    </div>
  
    <form action="/postUpdate/" method="POST">
    
      {% csrf_token %}
    
      <div class="profile-card"> 

        <div class="helper">

          <label for="Salutation">Salutation:</label><br>
          <label for="FirstName">First Name:</label><br>
          <label for="MiddleName">Middle Name:</label><br>
          <label for="LastName">Last Name:</label><br> 
          <label for="email">Email:</label><br>
          <label for="employment_type">Employement Type:</label><br>
          <label for="Department">Department:</label><br>
          <label for="designation">Designation:</label><br>

        </div>

        <div class="helper">
          
          <input type="text" name="Salutation" value="{{Salutation}}" maxlength="50" size="30" readonly><br>
          <input type="FirstName" id="Username" name="FirstName" value="{{FirstName}}" maxlength="50" size="30" readonly><br>
          <input type="MiddleName" id="MiddleName" name="MiddleName" value="{{MiddleName}}" maxlength="50" size="30" readonly><br>
          <input type="LastName" id="LastName" name="LastName" value="{{LastName}}" maxlength="50" size="30" readonly><br>
          <input type="email" id="email" name="email" value="{{email}}" maxlength="50" size="30"><br>
          <input type="text" id="employment_type" name="employment_type" value="{{employment_type}}" maxlength="50" size="30"><br>
          <input type="department" id="Department" name="department" value="{{department}}" maxlength="50" size="30"><br>
          <input type="designation" id="designation" name="designation" value="{{designation}}" maxlength="50" size="30"><br>
        
        </div>
      
      </div>

      <div class="profile-card"> 
        <button  class="button-container" id="button">Update Profile</button>
      </div>
    
    </form>

</div>

{% endblock %} 