{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

<title>PROFILE</title>

<div class="content">
    
    <div class="container1" >
        
        <div class="profile-header">
            <h1>USER PROFILE</h1>
        </div>
    
        <div class="profile-card">         
    
            <div class="helper">
                    
                <label>Name:</label><br>
                <label>Employment Type:</label><br>
                <label>Department:</label><br>
                <label>Designation:</label><br>
                <label>Email:</label><br>
            
            </div>

            <div class="helper">

                <label>{{Salutation}} {{FirstName}} {{MiddleName}} {{LastName}}</label><br>
                <label>{{employment_type}}</label><br>
                <label>{{department}}</label><br>
                <label>{{designation}}</label><br> 
                <label>{{email}}</label><br>
            
            </div> 

        </div>
        
        <div class="profile-card" >

            <div>
                <button class="button-container" onClick="location.href = '/resetPassword/'" id="button">Reset Password</button>
            </div>

            <div>
                <button class="button-container" onClick="location.href = '/updateProfile/'" id="button">Update Profile</button>
            </div>

        </div> 
    
    </div> 

</div>
    
{% endblock %} 