{% load static %}

<!DOCTYPE html>

<html lang="en">
  
  <head>

    <link rel="stylesheet" type="text/css" href="{% static '/css/user.css' %}">
    <script src="https://kit.fontawesome.com/919388b1b0.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-database.js"></script>

     {% comment %} <meta charset="UTF-8">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>  {% endcomment %}
  
  </head>

  <body>
  
    <div>

      <header>

        <div class="navLeft">
          <p id="username">HELLO, {{FirstName}} {{LastName}} !</p>
        </div>

        <div class="rightNav">
          <p onclick="location.href = '/logout/'">Logout</p>
        </div>

      </header>

    </div>

    <div class="container">
      
      <div class="side-menu">
        
        <ul>
          
          <li>
            <a href= "/home/" >
              <i class="fa-solid fa-house-user"></i>
              <span><b> Home <b></span>
            </a>
          </li>

          <li>
            <a href = "/dashboard/" >
              <i class="fa-sharp fa-solid fa-chart-line"></i>
              <span> Dashboard </span>
            </a>
          </li>

          <li>
            <a href = "/userProfile/" >
              <i class="fa-solid fa-user"></i>
              <span>Profile</span>
            </a>
          </li>

          <li>
            <a href = "/userConvList/" >
              <i class="fa-solid fa-code-compare"></i>
              <span> Converted Files</span>
            </a>
          </li>

          <li>
            <a href = "/userCompList/" >
              <i class="fa-solid fa-layer-group"></i>
              <span> Compressed Files </span>
            </a>
          </li>

          <li>
            <a href = "/archive/" >
              <i class="fa-solid fa-layer-group"></i>
              <span> Archive Files </span>
            </a>
          </li>

        </ul>
      
      </div>

      <div class="user-container">
        
        {% block mymessage %}
        {% endblock %} 

      </div>

    </div>
    
  </body>

</html>