{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

<title>PROFILE</title>

<div class="content">

    <div class="header-card">
        <h1>USER PROFILE</h1>
    </div>
    
    <div class="cards">         
  
            <div class="helper">
                <label> Name:</label><br>
                <label> Designation:</label><br>
                <label> Department:</label><br>
                <label> Employement Type:</label><br>
                <label> Email:</label><br>
            </div>

            <div class="helper">
                <label>{{Salutation}} {{FirstName}} {{MiddleName}} {{LastName}}</label><br>
                <label>{{designation}}</label><br>  
                <label>{{department}}</label><br>
                <label>{{employment_type}}</label><br>
                <label>{{email}}</label><br>
            </div>

    </div>
        
    <div class="cards">

        <div >
            <button class="button-container" onClick="location.href = '/home/usersList/'" id="button">Reset Password</button>
        </div>

        <div >
            <button class="button-container" onClick="location.href = '/home/usersList/'" id="button">Update Profile</button>
        </div>

    </div>

</div>
    
{% endblock %}