{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

<title>COMPRESSED FILES</title>
		
<div class="content">	

	<div class="header-card">
		<h1>COMPRESSED FILES LIST</h1>
	</div>

	{% if comb_list %}

		<div class="list-card">

			<div class="lcard1">
			
				{% for time,comp_list,filename,dat in comb_list %}

				<div class="lcard2">

					<div class="lcard3">{{filename}}
					</div>  

					<div class="lcard3">{{dat}} 
					</div>

					<button onclick="location.href = '/comp_details/?z={{comp_list}}'" class="list-button">View</button>
					<button onclick="location.href = '/comp_arch/?z={{comp_list}}'" class="list-button">Archive</button>

				</div>

				<br>

				{% endfor %}

			</div>

		</div>

	{% else %}

		<div class="header-card">
			<p>There are no compressed files</p>
		</div> 

	{% endif %}

</div>

{% endblock %}