{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

<title>CONVERTED FILES</title>
		
<div class="content">	

	<div class="header-card">
		<h1>CONVERTED FILES LIST</h1>
	</div>

	<div class="list-cards">

		<div class="card1">
		
			{% for time,conv_list,filename,dat in comb_list %}

			<div class="card2">

				<div class="card3">{{filename}}
				</div>  

				<div class="card3">{{dat}} 
				</div>

            	<button onclick="location.href = '/details/?z={{conv_list}}'" class="view">View</button>

			</div>

			<br>

			{% endfor %}

		</div>

	</div>

</div>

{% endblock %}