{% extends 'UserMaster.html' %}
{% load static %}

{% block mymessage %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE-edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<title>Dashboard</title>

<div class="content">

  <div class="header-card">
		<h1>DASHBOARD</h1>
	</div>
  
  <div class="dash-cards">
    
    <div class="card" id="comp_list">
      
      <div class="box" >
        <h1>{{count_comp}}</h1>
        <h3>File Compressed</h3>
      </div>

      <div class="icon-case">
        <img src={% static "CompressionIcon.png" %} width="60" height="60" alt="">
      </div>
    
    </div>
    
    <div class="card" id="conv_list">
      
      <div class="box">
        <h1>{{count_conv}}</h1>
        <h3>File Converted</h3>
      </div>

      <div class="icon-case">
        <img src={% static "ConversionIcon.png" %} width="60" height="60" alt="">
      </div>

    </div>

  </div>

  <div class="chart" id="barchart_material" style=" height: 500px;">
  </div>
  

  <div class = "chart" >
    <script type="text/javascript">
     
     google.charts.load('current', {'packages':['bar']});
     google.charts.setOnLoadCallback(drawChart); 
     
     function drawChart() {
       
       var data = google.visualization.arrayToDataTable([
         ['Date', 'Files Converted', 'Files Compressed'],
         ['2014', 100, 400],
         ['2015', 17, 460],
         ['2016', 160, 112],
         ['2017', 103, 540]
       ]);
       var options = {
         chart: {
           title: 'User Performance',
           subtitle: ' File Converted, File Compressed ',
         },
         bars: 'vertical' // Required for Material Bar Charts.
       };
   
       var chart = new google.charts.Bar(document.getElementById('barchart_material'));
       chart.draw(data, google.charts.Bar.convertOptions(options));
     
     } 
   
     let compList = document.getElementById("comp_list");
     let convList = document.getElementById("conv_list");
     let cardList = document.querySelector(".card");
     console.log("ssd", compList, cardList)
     compList.addEventListener("click", () => {
       window.location = "/userCompList/"
     })
     console.log("ssd", convList, cardList)
     convList.addEventListener("click", () => {
       window.location = "/userConvList/"
     })

      </script>   
   </div>

</div>

{% endblock %}
